span{

    font-size: 38px;
  }
  #camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.heading{
    font-size: 23.9px;
    border-radius: 10px;
    letter-spacing: 10px;
    font-family: 'Bitter', serif;
  }